.w-700 {
  font-weight: 700;
}
.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}
.text-20 {
  font-size: 20px;
}
.text-22 {
  font-size: 22px;
}
.text-24 {
  font-size: 24px;
}
.text-36 {
  font-size: 36px;
}
.text-44 {
  font-size: 44px;
}
.text-48 {
  font-size: 48px;
}

.spacing-1_5 {
  letter-spacing: 1.5px;
}
.spacing-3_36 {
  letter-spacing: 3.36px;
}
